#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    chroot      /var/lib/haproxy
    daemon
    group haproxy
    user haproxy
    log         127.0.0.1 local0 warning
    pidfile     /var/run/haproxy.pid
    maxconn     20000
    spread-checks  3
    nbproc  8
    # turn on stats unix socket

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    retries                 3
    option                  redispatch

listen  https-apiserver
    bind                   *:8443
    mode                   tcp
    balance                roundrobin
    timeout                server    900s
    timeout                connect   15s

    server  k8s-master-01  192.168.10.130:6443   check port 6443 inter 5000 fall 5
    server  k8s-master-02  192.168.10.140:6443   check port 6443 inter 5000 fall 5
    server  k8s-master-03  192.168.10.150:6443   check port 6443 inter 5000 fall 5
